<evan-loading *ngIf="loading" delayLoading="500"></evan-loading>
<evan-split-pane #splitPane *ngIf="!loading" (smallToolbarToggled)="ref.detectChanges()">
  <div evan-menu-content>
    <ion-list>
      <button ion-item menuClose 
        color="light" 
        routerLink="./sample"
        routerLinkActive="active">
        <ion-avatar item-start>
          <img item-start large *oneTime src="<%= img %>" />
        </ion-avatar>
        <h2 *ngIf="!splitPane.isSmallToolbar()"><%= projectName %></h2>
        <h3 *ngIf="!splitPane.isSmallToolbar()"><%= description %></h3>
      </button>
      <button ion-item menuClose 
        color="light" 
        *ngFor="let dapp of dapps"
        routerLink="./{{ dapp.ensAddress }}"
        routerLinkActive="active">
        <ion-avatar item-start *ngIf="dapp.imgSquare">
          <img item-start large *oneTime [src]="_DomSanitizer.bypassSecurityTrustUrl(dapp.imgSquare)" />
        </ion-avatar>
        <h2 *ngIf="!splitPane.isSmallToolbar()">{{ dapp.translated.name }}</h2>
        <h3 *ngIf="!splitPane.isSmallToolbar()">{{ dapp.translated.description }}</h3>
      </button>
    </ion-list>
  </div>
  <div evan-content
    [@routerTransition]="o?.activatedRouteData?.state">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</evan-split-pane>
