@import '@evan.network/ui-angular-sass/src/variables/colors';

$custom-color-text: #4c4c4c;
$custom-color-background: #ffffff;
$custom-color-background-2: #e8e8e8;
$custom-color-menu: #eeeeee;
$custom-color-border: #d2d4d6;
