<evan-loading *ngIf="loading"></evan-loading>
<ng-container *ngIf="!loading">
  <div class="evan-content" evan-content>
    <h3 class="content-header m-b-0 m-t-0">
      {{ contractId }}
    </h3>

    <ion-item>
      <ion-label stacked>DBCP Data</ion-label>
      <ion-textarea [(ngModel)]="dbcpData" rows="10"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Entry Data</ion-label>
      <ion-textarea [(ngModel)]="entryData" rows="5"></ion-textarea>
    </ion-item>
  </div>
</ng-container>