<evan-loading *ngIf="loading"></evan-loading>
<ng-container *ngIf="!loading">
  <div class="evan-content">
    <h3 class="content-header m-b-0 m-t-0">
      {{ '<%= dbcpName %>' | translate }}
    </h3>
    <p ion-text class="m-b-0 m-t-0">
      {{ '_<%= dbcpName %>.description' | translate }}
    </p>
    
    <ion-item>
      <ion-label stacked>
        <h3>Property 1</h3>
      </ion-label>
      <ion-input type="text"
        [(ngModel)]="formData.property1"
        (ionChange)="ref.detectChanges()">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>
        <h3>Property 2</h3>
      </ion-label>
      <ion-input type="text"
        [(ngModel)]="formData.property2"
        (ionChange)="ref.detectChanges()">
      </ion-input>
    </ion-item>

    <div text-center padding-bottom margin-top>
      <button ion-button round icon-left outline
        (click)="create()"
        [disabled]="creating">
        <ion-icon name="add" *ngIf="!creating"></ion-icon>
        <ion-spinner color="light" *ngIf="creating"></ion-spinner>
      
        <span>Create</span>
      </button>
    </div>
  </div>
  <div class="evan-content" *ngIf="contractAddress">
    <h3 class="content-header m-b-0 m-t-0">
      New Contract
    </h3>

    <a routerLink="./{{ contractAddress }}">{{ contractAddress }}</a>
  </div>
</ng-container>