<%= cleanName %>-detail {
  ion-row {
    ion-col:nth-child(odd) {
      padding-left: 0 !important;
    }
   
    @media (min-width: 769px) {
      ion-col:nth-child(even) {
        padding-left: 25px !important;
      }
    }
  }
  
  .picture-container {
    .evan-relative {
      display: inline-block;
      width: 300px;
    }
  }

  .banner-img {
    text-align: center;

    img {
      max-height: 300px;
      max-width: 300px;
      border-radius: 50%;
    }

    evan-file-select.img-select {
      display: none;
    }

    contract-members {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;

      .item-inner {
        border-bottom: 0 !important;
      }

      ion-label {
        display: none;
      }
    }
  }

  .top-right {
    position: absolute;
    top: 18px;
    right: 25px;

    contract-members {
      display: none;
    }

    & > span {
      line-height: 49px;

      display: inline-block;

      height: 40px;
      margin-right: -9px;

      vertical-align: middle;
    }
  }
}